#landing {
    background: url("./images/LT.jpeg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#Title {
    font-family: cursive;
    font-size: 5rem;
}

.background {
    background-color: rgba(240, 248, 255, 0.301);
    padding: 3rem;
    border-radius: 20px;
}

.footer {
    background-color: rgba(62, 87, 156, 0.904);
}
