#landing {
    background: url("./images/PourPetes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}